/* Shared Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 5rem 11.25rem 0.5rem;
    margin: 0 auto;
}

img {
    width: 100%;
    /* height: 60vh; */
}

.name {
    margin-top: 0.7rem;
}

/* Header Area */

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo-area {
    width: 50%;
}

.logo-area h2 {
    color: #000;
    font-family: PT Serif;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -1.62px;
}

.who-we-are-area {
    width: 50%;
}

.who-we-are-area h3 {
    color: #000;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}

.who-we-are-area p {
    color: #000;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    width: 80%;
}



/* Main Area  */

.team-member-profile-container {
    display: grid;
    grid-gap: .80rem;
    grid-template-columns: repeat(3, 1fr);
}

.person {
    position: relative;
    max-width: 300px;
}

.person-1 {}

.person-2 {
    margin-top: 8rem;

}

.person-3 {}

.person-4 {}

.person-5 {
    margin-top: 7rem;
}

.person-6 {}

.person-1 p,
.person-2 p,
.person-3 p,
.person-4 p,
.person-5 p,
.person-6 p {
    position: absolute;
    writing-mode: vertical-lr;
    right: -1.8rem;
}

/* Responsive Main Area */


/* Footer Area */

.footer {
    text-align: center;
    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 500;
}

.username {
    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}


/* Responsive For Mobile Devices */
@media screen and (max-width: 575px) {
    .container {
        padding: 4.438rem 0.75rem;
    }

    .header-container {
        flex-direction: column;
    }

    .logo-area {
        width: 100%;
    }

    .logo-area h2 {
        color: #000;
        font-family: PT Serif;
        font-size: 2.25rem;
        font-weight: 700;
        letter-spacing: -1.62px;
        margin-bottom: 2.375rem;
    }

    .who-we-are-area {
        width: 100%;
    }

    .who-we-are-area p {
        width: 90%;
        font-size: 0.875rem;
    }

    .team-member-profile-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.3rem;
    }

    .person-2 {
        margin-top: 3rem;
    
    }

    .person-4 {
        margin-top: 3rem;
    
    }

    .person-5 {
        margin-top: 0rem;
    }

    .person-6 {
        margin-top: 3rem;
    }
}